USE master;
GO

CREATE DATABASE EMPLEADOS_BEA;
GO
USE EMPLEADOS_BEA;
GO

ALTER DATABASE EMPLEADOS 
SET COMPATIBILITY_LEVEL = 110;
GO
CREATE TABLE dbo.REPVENTAS(
	NUM_EMPL int NOT NULL,
	NOMBRE char(15) NOT NULL,
	EDAD int NULL,
	OFICINA_REP int NOT NULL,
	TITULO char(10) NULL,
	CONTRATO datetime NOT NULL,
	DIRECTOR int NULL,
	CUOTA numeric(18, 0) NULL,
	VENTAS numeric(18, 0) NOT NULL,
 CONSTRAINT PK_REPVENTAS PRIMARY KEY(NUM_EMPL)
);
GO

INSERT dbo.REPVENTAS (NUM_EMPL, NOMBRE, EDAD, OFICINA_REP, TITULO, CONTRATO, DIRECTOR, CUOTA, VENTAS) VALUES (101, N'DAN ROBERTS    ', 45, 12, N'REP VENTAS', CAST(0x00007BD700000000 AS DateTime), 104, CAST(300000 AS Numeric(18, 0)), CAST(305673 AS Numeric(18, 0)))
INSERT dbo.REPVENTAS (NUM_EMPL, NOMBRE, EDAD, OFICINA_REP, TITULO, CONTRATO, DIRECTOR, CUOTA, VENTAS) VALUES (102, N'SUE SMITH      ', 48, 21, N'REP VENTAS', CAST(0x00007C0C00000000 AS DateTime), 108, CAST(350000 AS Numeric(18, 0)), CAST(474050 AS Numeric(18, 0)))
INSERT dbo.REPVENTAS (NUM_EMPL, NOMBRE, EDAD, OFICINA_REP, TITULO, CONTRATO, DIRECTOR, CUOTA, VENTAS) VALUES (103, N'PAUL CRUZ      ', 29, 12, N'REP VENTAS', CAST(0x00007C5B00000000 AS DateTime), 104, CAST(275000 AS Numeric(18, 0)), CAST(286775 AS Numeric(18, 0)))
GO

CREATE TABLE dbo.OFICINA(
	OFICINA int NOT NULL,
	CIUDAD char(15) NOT NULL,
	REGION char(10) NOT NULL,
	DIR int NULL,
	OBJETIVO numeric(18, 0) NULL,
	VENTAS numeric(18, 0) NOT NULL,
 CONSTRAINT PK_OFICINA PRIMARY KEY (OFICINA));
GO

INSERT dbo.OFICINA (OFICINA, CIUDAD, REGION, DIR, OBJETIVO, VENTAS) VALUES (11, N'NEWW YORK      ', N'ESTE      ', 106, CAST(575000 AS Numeric(18, 0)), CAST(692637 AS Numeric(18, 0)))
INSERT dbo.OFICINA (OFICINA, CIUDAD, REGION, DIR, OBJETIVO, VENTAS) VALUES (12, N'CHICAGO        ', N'ESTE      ', 104, CAST(800000 AS Numeric(18, 0)), CAST(735042 AS Numeric(18, 0)))
INSERT dbo.OFICINA (OFICINA, CIUDAD, REGION, DIR, OBJETIVO, VENTAS) VALUES (13, N'ATLANTA        ', N'ESTE      ', 105, CAST(350000 AS Numeric(18, 0)), CAST(367911 AS Numeric(18, 0)))
GO
CREATE TABLE dbo.PRODUCTO(
	ID_FAB char(3) NOT NULL,
	ID_PRODUCTO char(5) NOT NULL,
	DESCRIPCION char(20) NOT NULL,
	PRECIO numeric(18, 0) NOT NULL,
	EXISTENCIAS numeric(18, 0) NOT NULL,
 CONSTRAINT PK_PRODUCTOS PRIMARY KEY (ID_FAB,ID_PRODUCTO));
GO
INSERT dbo.PRODUCTO (ID_FAB, ID_PRODUCTO, DESCRIPCION, PRECIO, EXISTENCIAS) VALUES (N'ACI', N'41002', N'ARTICULO TIPO 2     ', CAST(76 AS Numeric(18, 0)), CAST(167 AS Numeric(18, 0)))
INSERT dbo.PRODUCTO (ID_FAB, ID_PRODUCTO, DESCRIPCION, PRECIO, EXISTENCIAS) VALUES (N'ACI', N'41003', N'ARTICULO TIPO 3     ', CAST(107 AS Numeric(18, 0)), CAST(207 AS Numeric(18, 0)))
INSERT dbo.PRODUCTO (ID_FAB, ID_PRODUCTO, DESCRIPCION, PRECIO, EXISTENCIAS) VALUES (N'ACI', N'41004', N'ARTICULO TIPO 4     ', CAST(117 AS Numeric(18, 0)), CAST(139 AS Numeric(18, 0)))
GO
CREATE TABLE dbo.PEDIDO(
	NUM_PEDIDO numeric(18, 0) NOT NULL,
	FECHA_PEDIDO datetime NOT NULL,
	CLIE int NOT NULL,
	REP int NOT NULL,
	FAB char(3) NOT NULL,
	PRODUCTO char(5) NOT NULL,
	CANT int NOT NULL,
	IMPORTE numeric(18, 0) NOT NULL,
 CONSTRAINT PK_PEDIDO PRIMARY KEY CLUSTERED(NUM_PEDIDO));
GO
INSERT dbo.PEDIDO (NUM_PEDIDO, FECHA_PEDIDO, CLIE, REP, FAB, PRODUCTO, CANT, IMPORTE) VALUES (CAST(110036 AS Numeric(18, 0)), CAST(0x0000808500000000 AS DateTime), 2107, 110, N'ACI', N'4100Z', 9, CAST(22500 AS Numeric(18, 0)))
INSERT dbo.PEDIDO (NUM_PEDIDO, FECHA_PEDIDO, CLIE, REP, FAB, PRODUCTO, CANT, IMPORTE) VALUES (CAST(112961 AS Numeric(18, 0)), CAST(0x0000805900000000 AS DateTime), 2117, 106, N'REI', N'2A44L', 7, CAST(31500 AS Numeric(18, 0)))
INSERT dbo.PEDIDO (NUM_PEDIDO, FECHA_PEDIDO, CLIE, REP, FAB, PRODUCTO, CANT, IMPORTE) VALUES (CAST(112963 AS Numeric(18, 0)), CAST(0x0000805900000000 AS DateTime), 2103, 105, N'ACI', N'41004', 28, CAST(3276 AS Numeric(18, 0)))
GO
CREATE TABLE dbo.CLIENTE(
	NUM_CLIE int NOT NULL,
	EMPRESA char(20) NOT NULL,
	REPCLIE int NULL,
	LIMITE_CREDITO numeric(18, 0) NULL,
CONSTRAINT PK_CLIENTE PRIMARY KEY(NUM_CLIE));
GO

INSERT dbo.CLIENTE (NUM_CLIE, EMPRESA, REPCLIE, LIMITE_CREDITO) VALUES (2101, N'JONES MFG.          ', 106, CAST(65000 AS Numeric(18, 0)))
INSERT dbo.CLIENTE (NUM_CLIE, EMPRESA, REPCLIE, LIMITE_CREDITO) VALUES (2102, N'FIRST. CORP.        ', 101, CAST(65000 AS Numeric(18, 0)))
INSERT dbo.CLIENTE (NUM_CLIE, EMPRESA, REPCLIE, LIMITE_CREDITO) VALUES (2103, N'ACME MFG.           ', 105, CAST(50000 AS Numeric(18, 0)))

GO

/****** CLAVES FORÁNEAS ******/
ALTER TABLE dbo.REPVENTAS  WITH NOCHECK ADD  CONSTRAINT FK_REPVENTAS_OFICINA FOREIGN KEY(OFICINA_REP)
REFERENCES dbo.OFICINA (OFICINA)
GO
ALTER TABLE dbo.REPVENTAS NOCHECK CONSTRAINT FK_REPVENTAS_OFICINA
GO

ALTER TABLE dbo.REPVENTAS  WITH NOCHECK ADD  CONSTRAINT FK_REPVENTAS_REPVENTAS FOREIGN KEY(DIRECTOR)
REFERENCES dbo.REPVENTAS (NUM_EMPL)
GO
ALTER TABLE dbo.REPVENTAS NOCHECK CONSTRAINT FK_REPVENTAS_REPVENTAS
GO

ALTER TABLE dbo.OFICINA  WITH NOCHECK ADD  CONSTRAINT FK_OFICINA_REPVENTAS FOREIGN KEY(DIR)
REFERENCES dbo.REPVENTAS (NUM_EMPL)
GO
ALTER TABLE dbo.OFICINA CHECK CONSTRAINT FK_OFICINA_REPVENTAS
GO

ALTER TABLE dbo.PEDIDO  WITH NOCHECK ADD  CONSTRAINT FK_PEDIDO_CLIENTE FOREIGN KEY(CLIE)
REFERENCES dbo.CLIENTE (NUM_CLIE)
GO
ALTER TABLE dbo.PEDIDO CHECK CONSTRAINT FK_PEDIDO_CLIENTE
GO

ALTER TABLE dbo.PEDIDO  WITH CHECK ADD  CONSTRAINT FK_PEDIDO_PRODUCTO FOREIGN KEY(FAB, PRODUCTO)
REFERENCES dbo.PRODUCTO (ID_FAB, ID_PRODUCTO)
GO
ALTER TABLE dbo.PEDIDO CHECK CONSTRAINT FK_PEDIDO_PRODUCTO
GO

ALTER TABLE dbo.PEDIDO  WITH NOCHECK ADD  CONSTRAINT FK_PEDIDO_REPVENTAS FOREIGN KEY(REP)
REFERENCES dbo.REPVENTAS (NUM_EMPL)
GO
ALTER TABLE dbo.PEDIDO CHECK CONSTRAINT FK_PEDIDO_REPVENTAS
GO

ALTER TABLE dbo.CLIENTE  WITH NOCHECK ADD  CONSTRAINT FK_CLIENTE_REPVENTAS FOREIGN KEY(REPCLIE)
REFERENCES dbo.REPVENTAS (NUM_EMPL)
GO
ALTER TABLE dbo.CLIENTE NOCHECK CONSTRAINT FK_CLIENTE_REPVENTAS
GO
