
*{box-sizing: border-box;
margin: 0px;
font-family: "Righteous";}


.verde{
    color: green;

}


/* Estilos para cabecera y menú */

header{
    height: 80px;
    width: 90%;
    margin-left: 40px;
    padding-top: 20px;
    position: relative;
}

.icon{

    float: right;
    position: relative;
        right: 15px;
    top: -25px;
}


.menu_item{
    position: relative;
        left: 50px;
    float: right;
    display: none;
}

div:hover .menu_item{
    padding-left: 10px;
    display: block;
    position: relative;
        left: -40px;
}



/* Estilos para el texto */

.main_text{
    background-color: grey;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.main_text div{
    color: white;
    font-size: 3vw;
    padding-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.main_text p{
    padding-top: 15px;
}

.main_text h1, h2, h3{
    padding-top: 10px;
}



/* Estilos para imágenes */

.images{
    height: 246px;
    margin-right: 20px;
    margin-left: 21px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.images img{
    height: 123px;
    width: 123px;
}

.hidden{
    display: none;
}


/* Estilos para texto secundario */
.novedades{
   height: 450px;
   margin-right: 20px;
   margin-left: 21px;
   padding-top: 10px;
  
}

.novedades article{
    padding-top: 10px;
    padding-bottom: 10px;
}



/* 
Estilos para pantallas medias */
@media screen and (min-width: 992px) {

    .icon{
       display: none;
    }
    
    .menu_item{
       display: block;
        position: relative;
        left: -40px;
        top: -25px;
        margin-right: 10px;
       
    }

    .main_text{
        
        background-color: rgb(107, 109, 108);
        width: 472px;
        height: 720px;
        float: left;

    }

    .main_text div{
        font-size: 2.2vw;
    }


    .images{
        width: 410px;
        height: 600px;
        float: right;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
            left: -80px;
    }


    .images img{
        height: 180px;
        width: 200px;
    }
    .novedades{

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: absolute;
            top: 800px;
       
    }

    .novedades article{
        width: 220px;
        margin-right: 5px;
    }

    .novedades h2{
        margin-right: 80px;
    }
    
}



/* Estilos para escritorios */
@media screen and (min-width: 1200px) {




header h1{
    position: relative;
        left: 38px;
}
.images{
    width: 600px;
    height: 450px;

    position: relative;
        left: -500px;
}

.menu_item{
    display: block;
     position: relative;
     left: 10px;


    
 }

.images img{
    height: 150px;
    width: 180px;
}

.main_text{
    width: 500px;
    height: 450px;

    position: relative;
        left: 600px;
}

.hidden{
    display: block;
}

.novedades h2{
    position: relative;
    top: -280px;
    right: -60px;
}

.novedades article{
    background-color: blueviolet;
    text-align: left;
    width: 270px;
   position: relative;
   top: -270px;
   right: -67px;
}

.main_text div{
    font-size: 1.2vw;
}


}