
/* Estructura general */
    body {
        background-color: rgb(230, 173, 216);
    }

    /* Estructura lista */

    li{
        
        float: left; 
        list-style-type: none; 
        
    }

    h1,h2{
        text-align: center;

    }

    h3{
        margin: 15px;
        color: blueviolet;
    }

    p{
        padding: 10px;
    }



/* Estructura links */

    a:link{
        color:rgb(181, 245, 162);
        text-decoration: none;
        padding: 20px;

    }

    a:visited{
        color:rgb(217, 233, 213);
        text-decoration: none;
 padding: 20px;
    }

    a:hover{
        color: rgb(38, 248, 18);
        text-decoration: none;
        padding: 20px;
    }

    a:active {
        color: yellow;
        text-decoration: none;
        padding: 20px;
    }


 
/* Estilo para la cabecera */

    #header{
        padding: 35px;
        background-color: rgb(253, 253, 253);
        color: blue;
        text-align: center;
        font-size: 30px;
       /* margin: auto;*/
          }

/* Estilo para la sección nav - lado */
   nav{ 
        background-color: rgb(87, 47, 107);
        height: 2em; 
        padding: 1em;
   }

/* Estilo para la sección contenido */
    section{
        clear: both;
        float: left;
        background-color: rgb(204, 211, 190);
        width: 75%;
      /*  height: 1000px;*/


    }

    article{
        border: 3px solid rgb(88, 212, 250);
        background-color: aliceblue;
        margin: 15px;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    


/* Estilo para el aside */
    #aside{

        float: right;
        width: 25%;
      /*  height: 1000px;*/

        background-color: darksalmon;

    
    }

    #anuncio1{
        border: 3px solid rgb(88, 141, 250);
        background-color: aliceblue;
        margin: 15px;

    }



/* Estilo para el pie */
    #footer{

        clear: both;
        width: 100%;
     /*   height: 70px;*/


        background-color: lightblue;
        text-align: center;
        color: blue;
        font-size: 30px;

    }
